<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--
  <connectionStrings>
  <add connectionString="server=DESKTOP-RGVCBDV\\MSBMIS;database=COMPANY;integrated security=sspi" name="sqlexp"/>
</connectionStrings>
<namespace>
  <add namespace="System.Data.SqlClinet"/>
</namespace>
  <connectionStrings>
  <add name="COMPANYConnectionString"
       connectionString="Data Source=127.0.0.1,1433;Initial Catalog=COMPANY;Integrated Security=True;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
-->

  <connectionStrings>
    <add name="COMPANYConnectionString" connectionString="Data Source=DESKTOP-J4JJ3J7\\SQLEXPRESS,1433;Initial Catalog=COMPANY;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="COMPANYConnectionString1" connectionString="Data Source=DESKTOP-J4JJ3J7\SQLEXPRESS;Initial Catalog=COMPANY;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>



  <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
