 body {
            font-family: 'Cairo', sans-serif;
            background-color: #f5f5f5;
            color: #333;
            direction: rtl;
            text-align: right;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-title {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 30px;
            color: #333;
        }
        .form-group {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .form-group label {
            font-size: 16px;
            margin-bottom: 8px;
            color: #333;
            width: 40%;
        }
        .form-group input, .form-group select, .form-group textarea {
            width: 55%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }
        .form-group input[type="radio"] {
            width: auto;
            text-align:center;
        }
        .form-group .radio-label {
            display: inline-block;
            margin-left: 15px;
        }
        .form-group input[type="radio"]:not(:first-child) {
            margin-right: 10px;
        }
        .button-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btn-save, .btn-back {
            width: 48%;
            padding: 15px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
        }
        .btn-save {
            background-color: #4CAF50;
            color: white;
            border: none;
        }
        .btn-save:hover {
            background-color: #45a049;
        }
        .btn-back {
            background-color: #007BFF;
            color: white;
            border: none;
        }
        .btn-back:hover {
            background-color: #0056b3;
        }